#box-1{
    position: relative;
    width: 200px;
    height: 200px;
    background: #ee3e64;
}

#box-2{
    position: relative;
    width: 200px;
    height: 200px;
    background: #44accf;
}

#box-3{
    position: relative;
    width: 200px;
    height: 200px;
    background:#b7d84b;
}